:host {
    height: 100%;
    display: flex;
    flex-direction: column;
   
  }
  .container{
    height: 75%;
  }
  .file-or-folder {
    padding: 8px;
    overflow: hidden;
  }
  
  .file-or-folder-icon {
    width: 50px;
    height: 50px;
    font-size: 50px;
  }
  
  .pointer {
    cursor: pointer;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .gap{
    width: 2%;
  }